<!-- <mat-card>
    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
            <mat-list>
                <mat-list-item>Subregion:{{country.subregion}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Population:{{country.population}}</mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list>
                <mat-list-item>Coordinates: {{country.latlng}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Demonym: {{country.demonym}}</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list>
                <mat-list-item>Area: {{country.area}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Timezones: {{country.timezones}}</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list>
                <mat-list-item>Languages: {{country.languages}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Currencies: {{country.currencies}}</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card> -->